#hand {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.card-button .katex {
    font-size: 14px;
}

.card-button {
    width: 90px;
    height: 84px; /* Standard card ratio 5:7 (2.5" x 3.5") */
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    flex-shrink: 0; /* Prevents cards from shrinking */
}

.card-button:hover {
    transform: translateY(-2px);
}

.card-button:active {
    /*transform: translateY(0);*/
}
